.article {
  float: center;
  width: 250px;
  border: 5px solid white;
  padding: 35px;
  margin: 10px;
}
body {
  color: white;
}
.section { 
  float: left;
  width: 33.3%;
}

h1 {
  text-align: center;
  color: red;

}
.contact {
	float: right;
}
.request {
	float: left;
}